.cm-s-default span.cm-keyword {color: #cc6600;}
.cm-s-default span.cm-atom {color: #006699;}
.cm-s-default span.cm-number {color: #000;}
.cm-s-default span.cm-def {color: #000;}
.cm-s-default span.cm-variable {color: #000;}
.cm-s-default span.cm-variable-2 {color: #000;}
.cm-s-default span.cm-variable-3 {color: #000;}
.cm-s-default span.cm-property {color: #000;}
.cm-s-default span.cm-operator {color: #000;}
.cm-s-default span.cm-comment {color: #999;}
.cm-s-default span.cm-string {color: #000;}
.cm-s-default span.cm-meta {color: #000;}
.cm-s-default span.cm-error {color: #000;}
.cm-s-default span.cm-qualifier {color: #000;}
.cm-s-default span.cm-builtin {color: #000;}
.cm-s-default span.cm-bracket {color: #000;}
.cm-s-default span.cm-tag {color: #000;}
.cm-s-default span.cm-attribute {color: #000;}
